body {
  color: #444;
  padding: 50px;
}

a:visited, a:link {
  color: inherit;
}

main-title {
  display: block;
  width: 500px;
  height: 50px;
  margin: 0 auto;
}

main-title h1 {
  float: left;
  text-align: center;
  display: inline;
}

main-title img {
  width: auto;
  height: 50px;
}

sudoku-board {
  width: 500px;
  height: 500px;
  margin: 10px auto;
  box-sizing: border-box;
  display: block;
}

sudoku-board input {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 3em;
  text-align: center;
  width: 11.11%;
  height: 11.201%;
  border: 1px solid #444;
}

sudoku-board input:focus {
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

contact-links {
  padding-top: 50px;
  padding-bottom: 10px;
  width: 500px;
  margin: 0 auto;
  display: block;
}

control-panel {
  width: 500px;
  display: block;
  margin: 0 auto;
}

section {
  margin-bottom: 10px;
}

section > h3:first-child {
  margin-top: 5px;
  display: inline-block;
}

a.ui.basic.label.value-box:hover {
  color: inherit;
  cursor: auto;
}

i.github.icon {
  font-size: 15px;
}

.button-label {
  width: 130px;
}

.value-box {
  width: 100px;
}

.value-box.right {
  text-align: right;
}

.right-float {
  float: right;
}

.row2, .row5 {
  border-bottom: 2px solid #444; } .col2, .col5 {
  border-right: 2px solid #444; } .col0 {
  border-left: 3px solid #444; } .col8 {
  border-right: 3px solid #444; } .row0 {
  border-top: 3px solid #444; } .row8 {
  border-bottom: 3px solid #444;
}
