<contact-links>
  <a href="http://bertoort.com">
    <i class="copyright icon"></i> bertoort
  </a>
  <a class="right-float" href="https://github.com/bertoort/sugoku">
    Sudoku Api Docs
    <i class="github icon"></i>
  </a>
</contact-links>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
<script type="text/javascript" src="/public/setup.js"></script>
<script type="text/javascript" src="/public/api.js"></script>
<script type="text/javascript" src="/public/app.js"></script>
